<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vendedor">
      <h2 data-cy="vendedorDetailsHeading"><span jhiTranslate="concesionarioApp.vendedor.detail.title">Vendedor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vendedor.id }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.vendedor.nombre">Nombre</span></dt>
        <dd>
          <span>{{ vendedor.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.vendedor.primerApellido">Primer Apellido</span></dt>
        <dd>
          <span>{{ vendedor.primerApellido }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.vendedor.segundoApellido">Segundo Apellido</span></dt>
        <dd>
          <span>{{ vendedor.segundoApellido }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.vendedor.mail">Mail</span></dt>
        <dd>
          <span>{{ vendedor.mail }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.vendedor.tipoIdentificacion">Tipo Identificacion</span></dt>
        <dd>
          <span>{{ vendedor.tipoIdentificacion }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.vendedor.numIdentificacion">Num Identificacion</span></dt>
        <dd>
          <span>{{ vendedor.numIdentificacion }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.vendedor.direccion">Direccion</span></dt>
        <dd>
          <span>{{ vendedor.direccion }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioApp.vendedor.cargo">Cargo</span></dt>
        <dd>
          <span>{{ vendedor.cargo }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vendedor', vendedor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
