<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cliente-heading" data-cy="ClienteCreateUpdateHeading" jhiTranslate="concesionarioApp.cliente.home.createOrEditLabel">
        Create or edit a Cliente
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.cliente.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.cliente.primerApellido" for="field_primerApellido"
            >Primer Apellido</label
          >
          <input
            type="text"
            class="form-control"
            name="primerApellido"
            id="field_primerApellido"
            data-cy="primerApellido"
            formControlName="primerApellido"
          />
          <div
            *ngIf="
              editForm.get('primerApellido')!.invalid && (editForm.get('primerApellido')!.dirty || editForm.get('primerApellido')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('primerApellido')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.cliente.segundoApellido" for="field_segundoApellido"
            >Segundo Apellido</label
          >
          <input
            type="text"
            class="form-control"
            name="segundoApellido"
            id="field_segundoApellido"
            data-cy="segundoApellido"
            formControlName="segundoApellido"
          />
          <div
            *ngIf="
              editForm.get('segundoApellido')!.invalid &&
              (editForm.get('segundoApellido')!.dirty || editForm.get('segundoApellido')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('segundoApellido')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.cliente.tipoIdentificacion" for="field_tipoIdentificacion"
            >Tipo Identificacion</label
          >
          <input
            type="text"
            class="form-control"
            name="tipoIdentificacion"
            id="field_tipoIdentificacion"
            data-cy="tipoIdentificacion"
            formControlName="tipoIdentificacion"
          />
          <div
            *ngIf="
              editForm.get('tipoIdentificacion')!.invalid &&
              (editForm.get('tipoIdentificacion')!.dirty || editForm.get('tipoIdentificacion')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tipoIdentificacion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.cliente.numIdentificacion" for="field_numIdentificacion"
            >Num Identificacion</label
          >
          <input
            type="text"
            class="form-control"
            name="numIdentificacion"
            id="field_numIdentificacion"
            data-cy="numIdentificacion"
            formControlName="numIdentificacion"
          />
          <div
            *ngIf="
              editForm.get('numIdentificacion')!.invalid &&
              (editForm.get('numIdentificacion')!.dirty || editForm.get('numIdentificacion')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numIdentificacion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numIdentificacion')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 9 }"
            >
              This field is required to be at least 9 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.cliente.telefono" for="field_telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
          <div *ngIf="editForm.get('telefono')!.invalid && (editForm.get('telefono')!.dirty || editForm.get('telefono')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telefono')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telefono')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 9 }"
            >
              This field is required to be at least 9 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.cliente.mail" for="field_mail">Mail</label>
          <input type="text" class="form-control" name="mail" id="field_mail" data-cy="mail" formControlName="mail" />
          <div *ngIf="editForm.get('mail')!.invalid && (editForm.get('mail')!.dirty || editForm.get('mail')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('mail')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.cliente.direccion" for="field_direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
          <div *ngIf="editForm.get('direccion')!.invalid && (editForm.get('direccion')!.dirty || editForm.get('direccion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('direccion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="concesionarioApp.cliente.ocupacion" for="field_ocupacion">Ocupacion</label>
          <input type="text" class="form-control" name="ocupacion" id="field_ocupacion" data-cy="ocupacion" formControlName="ocupacion" />
          <div *ngIf="editForm.get('ocupacion')!.invalid && (editForm.get('ocupacion')!.dirty || editForm.get('ocupacion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ocupacion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
